@import "normalized.scss";
@import "table.scss";
@font-face {
  font-family: Roboto;
  src: url("Roboto-Regular.ttf");
}
body{
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  background-image: url("~/assets/fon.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  height: 100%;
  color: white;
}
.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 2px solid #fac22e;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgb(0, 0, 0, 0.0) inset;
  transition: background-color 5000s ease-in-out 5000s;
  font-size: 20px;
}

button {
  color: black;
  border-radius: 10px;
  box-shadow: 10px 5px 45px black;
}

.wrapper{
  width: 1024px;
  padding: 25px;
  position: relative;
}
ul{
  padding-top: 25px;
}
.dropdown-window{
  color: black;
  position: relative;
  display: flex;
  width: 260px;
  height: 50px;
  padding: 2px 15px 2px 15px;
  background: #fac22e;
  -webkit-filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.1));
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.dropdown-items{
  color: black;
  position: absolute;
  z-index: 9999;
  left: 0;
  width: 260px;
  padding: 2px 2px 2px 15px;
  background: #fff;
  -webkit-filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.1));
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
  border: 1px solid #fac22e;
}
.dropdown-items p{
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
}
.dpordown p:hover{
  text-decoration: underline;
}
.dropdown{
  position: relative;
}
.saveButton{
  color: black;
  width: 250px;
  height: 50px;
  background: #fac22e;
  box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.3);
}
.save{
  padding-bottom: 40px;
  text-align: center;
  margin: 0 auto;
}

.addOrdersWrapper{
  padding: 25px;
  display: flex;
  color: black;
  justify-content: space-between;
}
.addOrders-left{
  min-width: 300px;
}
.addOrders-right {
  width: 100%;
}


