@import "normalized.scss";
@font-face {
  font-family: Roboto;
  src: url("Roboto-Regular.ttf");
}
body{
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  background-image: url("~/assets/fon.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  height: 100%;
  color: white;
}
.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 2px solid #fac22e;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgb(0, 0, 0, 0.0) inset;
  transition: background-color 5000s ease-in-out 5000s;
  font-size: 20px;
}

